*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #2c2623;
    background-size: cover;
    font-family: sans-serif;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color:  rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  }
form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px; 
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px 
    rgba(0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: #ff652f;
    background-color: #ff652f;
    color: #fff;
}
