* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background:#0c0c0c;
    color: #f55014;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:sans-serif;
  }

  #start-camera{
    display: inline;
    margin-left:20px;
    border:none;
    outline: none;
    background: #f05006d8;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  #video{
    position:relative;
    height: 480px;
    width: 790px;
    top: 10px;
    border: 3px solid #ECECEC;
    box-sizing: border-box
  }

  #click-photo{
    display: inline;
    margin-left:20px;
    border:none;
    outline: none;
    background: #f05006d8;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
    bottom: auto;
    margin-top: 19px;
    cursor: pointer
  }

  #download{
    display: inline;
    margin-left:20px;
    border:none;
    outline: none;
    background: #f05006d8;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

  }